body{
    font-family: 'Montaga', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montaga-Black', sans-serif;
    font-weight: 800;
}

.container-fluid {
    padding: 7% 15%;
}

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation bar */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 10px;
    font-size: 1.2rem;
}

.nav-link:hover, .nav-link:active{
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 1.25s ease-out;
}

/* title section */

#title .container-fluid {
    padding: 3% 10% 7%;
    text-align: left;
}
.big-heading {
    line-height: 1.5;
    font-size: 3.5rem;
    font-family: 'Montaga-Black';
}

.title-desc{
    padding-top: 7%;
}

/* title image */
.title-img{
    width: 60%;
    transform: rotate(25deg);
    height: 100%;
    margin-left: 15%;
    animation: rotation 10s infinite alternate;
    /* position: absolute; */
}

@keyframes rotation {
    from {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate(45deg);
    }
}

/* Download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

.download-button:hover{
    transition: all 1.25s ease-out;
}

/* features section */

#features {
    position: relative;
    z-index: 1;
}

.feature-text {
    font-size: 1.5rem;
}

.feature-box{
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1.5rem;
    transition: all 1s ease-out;
    font-weight: 900;
}

.icon:hover {
    color: #ff4c68;
    transition: all 1s ease-out;
    transform: scale(1.5); 
}

/* testimonial section */

#testimonials, #press {
    background-color: #ef8172;
}

.testimonial-text {
    line-height: 1.2;
    font-size: 3rem;
}


.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.dog-heart{
    color: #ff4c68;
    transition: all 1.25s ease-out;
}

.dog-heart:hover{
    transform: scale(1.2);
    transition: all 1.30s ease-out;
    color: #ff4c68;
}

 /*  press section */
#press{
     padding-bottom: 3%;
}

.press-logo{
     width: 15%;
     margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
    padding: 80px;
    font-family: 'Montaga-Black', sans-serif;
}

.pricing-text {
    line-height: 1.2;
    font-size: 3rem;
}

.pricing-sub-text {
    font-size: 1.5rem;
}
.card{
    border: 1px solid grey;
}

.pricing-column {
    padding: 3% 2%;
}

.social-icon {
    margin: 20px 10px;
}

/* media queries */
@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-img {
        position: static;
        /* transform: rotate(0); */
        margin-left: 15%;
        animation: rotation 7s infinite alternate;
    }

    @keyframes rotation {
        from {
          transform: rotate(-25deg);
        }
        to {
          transform: rotate(25deg);
        }
    }
}

